<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<context:property-placeholder location="classpath*:commontest.properties" />

	<!--<bean id="mongoclienturi" class="com.mongodb.MongoClientURI">
		<constructor-arg name="uri" value="mongodb://${ddi.common.mongo.app.user}:${ddi.common.mongo.app.password}@${ddi.common.mongo.app.machine.one}:${ddi.common.mongo.app.port},${ddi.common.mongo.app.machine.three}:${ddi.common.mongo.app.port},${ddi.common.mongo.app.machine.two}:${ddi.common.mongo.app.port}/${ddi.common.mongo.app.db}?authSource=${ddi.common.mongo.app.authenticationDatabase}&amp;replicaSet=${ddi.common.mongo.app.replicaset}" />
	</bean>
	&lt;!&ndash; MongoDbFactory &ndash;&gt;
	<bean id="simpleMongoDbFactoryID" class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
		<constructor-arg ref="mongoclienturi" />
	</bean>

	&lt;!&ndash; MongoTemplate &ndash;&gt;
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="simpleMongoDbFactoryID" />
	</bean>

	<bean id="mongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
		<constructor-arg index="0" ref="simpleMongoDbFactoryID"/>
		<constructor-arg index="1">
			<bean class="org.springframework.data.mongodb.core.mapping.MongoMappingContext"/>
		</constructor-arg>
		<property name="mapKeyDotReplacement" value="__"/>
	</bean>-->


    <!--<bean id="service" class="uk.ac.ebi.ddi.service.db.service.logger.DatasetResourceService"/>-->
    <bean id="accessService" class="uk.ac.ebi.ddi.service.db.service.logger.HttpEventService"/>
	<bean id="wordService" class="uk.ac.ebi.ddi.service.db.service.enrichment.SynonymsService"/>
	<bean id="termService" class="uk.ac.ebi.ddi.service.db.service.similarity.TermInDBService"/>
	<bean id="enrichmentService" class="uk.ac.ebi.ddi.service.db.service.enrichment.EnrichmentInfoService"/>
	<bean id="datasetStatInfoService" class="uk.ac.ebi.ddi.service.db.service.similarity.DatasetStatInfoService"/>
	<bean id="termInDBService" class="uk.ac.ebi.ddi.service.db.service.similarity.TermInDBService"/>
	<bean id="expOutputDatasetService" class="uk.ac.ebi.ddi.service.db.service.similarity.ExpOutputDatasetService"/>
	<bean id="InDBServiceRepo" class="uk.ac.ebi.ddi.service.db.repo.similarity.ITermInDBRepoImpl"/>
	<!--<bean id = "expOutputDatasetRepo" class = "uk.ac.ebi.ddi.service.db.repo.similarity.IExpOutputDatasetRepoimpl"/>-->
	<bean id="datasetService"       class="uk.ac.ebi.ddi.service.db.service.dataset.DatasetService" />
	<bean id="datasetStatusService" class="uk.ac.ebi.ddi.service.db.service.dataset.DatasetStatusService"/>

	<bean id="publicationService" class="uk.ac.ebi.ddi.service.db.service.publication.PublicationDatasetService" />
	<bean id="mostAccessedDatasetService" class="uk.ac.ebi.ddi.service.db.service.dataset.MostAccessedDatasetService"/>
	<bean class="uk.ac.ebi.ddi.service.db.utils.CascadingMongoEventListener" />
	<bean id="databaseService" class="uk.ac.ebi.ddi.service.db.service.database.DatabaseService"/>

</beans>
